body{
	position: relative;
}

.login {
	border: 1px solid #0f0;
	position: relative;
	margin: 100px auto;
	padding: 20px 20px 20px;
	width: 310px;
	background: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	vertical-align: middle;
}


.caja {
	width: 45%;
	float:left;
	padding: 20px;
	margin-left: 50px auto;
	position: inherit;

}


h1 {
	text-align: center;
}

p.hello{
	float: left;
}

p.logout{
	text-align: center;
	color: red;
}

p.izq{
	float: right;
}

#pie{
	position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   padding-bottom: 70px;
   width: 100%;
}

.centrado{
	width: 90px;
	margin: 0 auto;
}

a{
	color: blue;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

table {
	text-align: left;
}

.closeSes{
	float: right;
	background: #f4511e;
	width: 50px;
	height: 50px;
	border-radius: 1px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}

.closeSes:hover{
	background: #f4515e;
	transform: scale(1.5);
	-moz-transform: scale(1.5); /* Firefox */
	-webkit-transform: scale(1.5); /* Chrome - Safari */
	-o-transform: scale(1.5);}

a.dejar{
	color: white;
}